PORT=5000
DATABASE_URL=postgresql://postgres:password@localhost:5432/rugaya
JWT_SECRET=supersecretkey
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=rugaya-films-storage